
<system xmlns="http://sonusnet.com/ns/mibs/SONUS-GEN2-PROFILES-MIB/1.0" xmlns:y="http://tail-f.com/ns/rest"  xmlns:PROFILES="http://sonusnet.com/ns/mibs/SONUS-GEN2-PROFILES-MIB/1.0">
  <coredumpProfile>
    <name>default</name>
  </coredumpProfile>
  <ipPolicingAlarmProfile xmlns="http://sonusnet.com/ns/mibs/SONUS-IPM-PROFILE/1.0">
    <name>defaultSystemMajor</name>
  </ipPolicingAlarmProfile>
  <ipPolicingAlarmProfile xmlns="http://sonusnet.com/ns/mibs/SONUS-IPM-PROFILE/1.0">
    <name>defaultSystemMinor</name>
  </ipPolicingAlarmProfile>
  <overloadProfile xmlns="http://sonusnet.com/ns/mibs/SONUS-OVLD-PROFILE/1.0">
    <name>defaultMC1</name>
  </overloadProfile>
  <overloadProfile xmlns="http://sonusnet.com/ns/mibs/SONUS-OVLD-PROFILE/1.0">
    <name>defaultMC2</name>
  </overloadProfile>
  <overloadProfile xmlns="http://sonusnet.com/ns/mibs/SONUS-OVLD-PROFILE/1.0">
    <name>defaultMC3</name>
  </overloadProfile>
</system>
